/* common shared styles */
body{
    font-family: 'Roboto', sans-serif;
}
/* nav styles */
nav{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.btn-primary{
    color: azure;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    background-color: orangered;
    padding: 6px;
}

.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 700;
}

.changed{
    color: orangered;
}

nav>ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 25px;
}

nav a{
    text-decoration: none;
    color: #005;
}

.header{
    background-color: blanchedalmond;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner .profile-pic{
    width: 400px;
    border-radius: 150px;
}