/* common shared styles */
body{
    font-family: 'Roboto', sans-serif;
}
/* nav styles */
nav{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.btn-primary{
    color: azure;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    background-color: orangered;
    padding: 6px;
    cursor: pointer;
}

.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 700;
}

.changed{
    color: orangered;
}

nav>ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 25px;
}

nav a{
    text-decoration: none;
    color: #005;
}
/* head styles */
.header{
    background-color: blanchedalmond;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    image-resolution: 70% 80%;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content{
    max-width: 500px;
}

.banner .profile-pic{
    width: 350px;
    border-radius: 150px;
    
}

.banner-title{
    font-size: 80px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 15px;
}

.banner-greeting{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto; 
}
/* about styles */
.about{
    background: #fff8f3;
    padding: 60px;
    border-radius: 10px;
    margin: 80px 0;
}

.a-title{
    color:#181818;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}

.a-description{
    color:#181818;
    text-align: center;
    font-size: 20px;
}

.about-info-container{
    display: flex;
    justify-content: space-between;
}

.about-info{
    text-align: center;
}



